---
import type { Language } from '@src/types';
import { useTranslations, date, date_xml } from '@src/utils';
import { theme } from '@src/theme';
import { getConfig } from '@src/config';

interface Props { lang: Language; page: Record<string, any>; }
const { lang, page } = Astro.props;
const config = getConfig(lang);
const t = useTranslations(lang);

const data_type_update = theme.post_meta.post.date_type === 'updated';
const date_icon = data_type_update ? 'fas fa-history' : 'far fa-calendar-alt';
const date_title = data_type_update ? t('post.updated') : t('post.created');
---

<div id="post-info">
  <h1 class="post-title">{page.title || t('no_title')}</h1>

  <div id="post-meta">
    <div class="meta-firstline">
      {theme.post_meta.post.date_type && (
        <span class="post-meta-date">
          {theme.post_meta.post.date_type === 'both' ? (
            <>
              <i class="far fa-calendar-alt fa-fw post-meta-icon"></i>
              <span class="post-meta-label">{t('post.created')}</span>
              <time class="post-meta-date-created" datetime={date_xml(page.date)} title={`${t('post.created')}`}>
                {date(page.date, config.date_format)}
              </time>
              <span class="post-meta-separator"> | </span>
              <i class="fas fa-history fa-fw post-meta-icon"></i>
              <span class="post-meta-label">{t('post.updated')}</span>
              <time class="post-meta-date-updated" datetime={date_xml(page.updated)} title={`${t('post.updated')}`}>
                {date(page.updated, config.date_format)}
              </time>
            </>
          ) : (
            <>
              <i class={`fa-fw post-meta-icon ${date_icon}`}></i>
              <span class="post-meta-label">{date_title}</span>
              <time datetime={date_xml(page.date)} title={date_title}>
                {date(page.date, config.date_format)}
              </time>
            </>
          )}
        </span>
      )}
    </div>
  </div>
</div>
