---
import type { Language } from '@src/types';
import type { CollectionEntry } from 'astro:content';
import { useTranslations, date, full_date, date_xml } from '@src/utils';
import { getConfig } from '@src/config';

interface Props { lang: Language; posts: CollectionEntry<'cn_blog' | 'en_blog'>[]; }
let year: string;
const { lang, posts } = Astro.props;
const config = getConfig(lang);
const t = useTranslations(lang);
---
<div class="article-sort">
{posts.map((post: any) => {
    const article = post.data;
    const articlePath = `/${lang}/posts/${article.abbrlink}`;
    const tempYear = date(article.date, 'YYYY');
    const noCoverClass = article.cover === false ? 'no-article-cover' : '';
    const title = article.title || t('no_title');
    const isNewYear = tempYear !== year;
    year = tempYear;

    return (
    <div>
        {isNewYear && <div class="article-sort-item year">{year}</div>}
        <div class={`article-sort-item ${noCoverClass}`}>
          {article.cover && (
            <a class="article-sort-item-img" href={articlePath} title={title}>
              <img src={article.cover} alt={title} loading="lazy" />
            </a>
          )}
          <div class="article-sort-item-info">
            <div class="article-sort-item-time">
              <i class="far fa-calendar-alt"></i>
              <time
                class="post-meta-date-created"
                datetime={date_xml(article.date)}
                title={`${t('post.created')} ${full_date(article.date)}`}
              >
                {date(article.date, config.date_format)}
              </time>
            </div>
            <a class="article-sort-item-title" href={articlePath} title={title}>
              {title}
            </a>
          </div>
        </div>
    </div>
    );
})}
</div>
