---
import type { Language } from '@src/types';
import type { Page } from 'astro';
import { useTranslations, date_xml, full_date, date } from '@src/utils';
import { getConfig } from '@src/config';
import Pagination from '../pagination.astro';

interface Props { lang: Language; postsPagnition: Page; }
const { lang, postsPagnition } = Astro.props;
const config = getConfig(lang);
const t = useTranslations(lang);
const postsMeta = postsPagnition.data;
---
<div id="recent-posts" class="recent-posts nc">
    {postsMeta.map((entry, index) => {
      const link = `/${lang}/posts/${entry.abbrlink}`;
      const title = entry.title;
      const leftOrRight = (index % 2 === 0 ? 'left' : 'right');
      const post_cover = entry.cover;

      return (
        <div class="recent-post-item">
          {post_cover && (
            <div class={`post_cover ${leftOrRight}`}>
              <a href={link} title={title}>
                <img
                    class="post-bg"
                    src={post_cover}
                    alt={title}
                    loading="lazy"
                  />
              </a>
            </div>
          )}
          <div class="recent-post-info">
            <a class="article-title" href={link} title={title}>
              {title}
            </a>
            <div class="article-meta-wrap">
              <span class="post-meta-date">
                <>
                  <i class="far fa-calendar-alt"></i>
                  <span class="article-meta-label">{t('post.created')}</span>
                  <time class="post-meta-date-created" datetime={date_xml(entry.date)} title={`${t('post.created')} ${full_date(entry.date)}`}>
                    {date(entry.date, config.date_format)}
                  </time>
                  <span class="article-meta-separator"> | </span>
                  <i class="fas fa-history"></i>
                  <span class="article-meta-label">{t('post.updated')}</span>
                  <time class="post-meta-date-updated" datetime={date_xml(entry.updated)} title={`${t('post.updated')} ${full_date(entry.updated)}`}>
                    {date(entry.updated, config.date_format)}
                  </time>
                </>
              </span>
              <span class="article-meta">
                <span class="article-meta-separator"> | </span>
                <span>
                  <i class="fas fa-inbox"></i>
                  <a href={`/${lang}/categories/${entry.categories}`} class="article-meta__categories">{entry.categories}</a>
                </span>
              </span>
            </div>
            <div class="content">{entry.description}</div>
          </div>
        </div>
      );
    })}
    <Pagination page={postsPagnition}/>
</div>
