---
import type { Language } from '@src/types';
import { useTranslations } from '@src/utils';
import linkZhCN from '@content/link.zh-CN.json';
import linkEn from '@content/link.en.json';

const linkData: Record<Language, typeof linkZhCN> = {
  'zh-CN': linkZhCN,
  'en': linkEn,
};

export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'zh-CN'}},
  ];
}
const { lang } = Astro.params as { lang: Language };
const t = useTranslations(lang);
const link = linkData[lang];

import Layout from '@src/layout/layout.astro';
const page = {
  "title": t('page.link'),
  "type": "link",
  "comments": false
}
---
<Layout lang={lang} page={page}>
    <div id="page" class={''}>
        <div id="article-container">
            <div class="flink">
              {link && link.map((group) => (
                <>
                  {group.class_name && <h2>{group.class_name}</h2>}
                  {group.class_desc && <div class="flink-desc">{group.class_desc}</div>}
                  <div class="flink-list">
                    {group.link_list.map((item) => (
                      <div class="flink-list-item">
                        <a href={item.link} title={item.name} target="_blank">
                          <div class="flink-item-icon">
                            <img class="no-lightbox" src={item.avatar} alt={item.name} loading="lazy" />
                          </div>
                          <div class="flink-item-name">{item.name}</div>
                          <div class="flink-item-desc" title={item.descr}>{item.descr}</div>
                        </a>
                      </div>
                    ))}
                  </div>
                </>
              ))}
            </div>
          </div>
    </div>
</Layout>
